* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 100%;
    box-sizing: border-box;
    font-weight: bold;
    border: none;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.3rem;
    font-style: italic;
    /* font-weight: bold; */
}

button {
    cursor: pointer;
}

/* Container. */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Kalender. */

.kalender {
    background-color: #eee;
    width: 600px;
    padding: 1rem;
}

/* Header. */

.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.header div {
    display: flex;
    align-items: center;
}

.header button {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
}

.header button:hover {
    background-color: #fff;
}

.header .bulan {
    margin: 0 .5rem;
}

/* Hari. */

.container-hari {
    display: grid;
    grid-template-columns: repeat(7, minmax(50px, 1fr));
    grid-auto-rows: 2rem;
    gap: .2rem;
    margin-bottom: .2rem;
}

.container-hari .hari {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-hari .hari.libur {
    color: #f13f3f;
}

/* Tanggal. */

.container-tanggal {
    display: grid;
    grid-template-columns: repeat(7, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    gap: .2rem;
}

.tanggal {
    background-color: #fff;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tanggal span {
    z-index: 1;
}

.tanggal.fill {
    cursor: default;
}

.tanggal.fill span {
    color: #aaa;
}

.tanggal.libur span {
    color: #f13f3f;
}

/* Remainder. */

.reminder {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: #cce1ff;
}

/* Reminder list. */

.container-reminder {
    background-color: #eee;
    min-width: 200px;
    margin-left: 1rem;
    padding: .5rem;
}

.container-reminder li {
    display: block;
    padding: .5rem;
    list-style: none;
}

/* Modal. */

.container-modal,
.container-modal-edit {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    background-color: rgba(0, 0, 0, .4);
    justify-content: center;
    align-items: center;
}

.modal,
.modal-edit {
    background-color: #fff;
    padding: 1rem;
    /* border-radius: .5rem; */
}

.modal .teks-modal,
.modal-edit .teks-modal-edit {
    font-size: 1.5rem;
}

.modal .tgl-modal,
.modal-edit .tgl-modal-edit {
    color: #777;
    font-style: italic;
}

.modal #input-reminder,
.modal-edit #input-edit {
    display: block;
    border: 1px solid black;
    border-radius: .2rem;
    width: 300px;
    padding: .2rem .5rem;
}

.modal .teks-modal,
.modal .tgl-modal,
.modal #input-reminder,
.modal-edit .teks-modal-edit,
.modal-edit .tgl-modal-edit,
.modal-edit #input-edit {
    margin-bottom: .5rem;
}

.modal div,
.modal-edit div {
    display: flex;
    justify-content: flex-end;
}

.modal button,
.modal-edit button {
    margin-left: .5rem;
    padding: .5rem 1rem;
    background-color: #fff;
    border-radius: .2rem;
    color: #fff;
}

.modal .tbl-batal,
.modal-edit .tbl-batal {
    background-color: #333;
}

.modal .tbl-tambah,
.modal-edit .tbl-edit {
    background-color: #82b5fd;
}

.modal-edit .tbl-hapus {
    background-color: #f13f3f;
    margin-left: 0;
    margin-right: auto;
}

.modal .tbl-batal:hover,
.modal .tbl-tambah:hover,
.modal-edit .tbl-batal:hover,
.modal-edit .tbl-edit:hover {
    opacity: .8;
}

/* Hidden. */

.hidden {
    display: none;
}
